.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  z-index: 1;
  background-color: #1c1c21;
  border-radius: 40px;
  transition: visibility 0.1s linear, opacity 0.1s linear;
}

.modalClose {
  background: none;
  border: none;
  position: absolute;
  top: 51px;
  right: 31px;
}

.modalClose:hover {
  opacity: 50%;
}
