.lead__caption {
    line-height: 10px;
    font-size: 14px;
    font-style: normal;
    color: #fff;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin-left: 24px;
    }
   }

   @media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 16px;
    }
   }