.cover__title {
    width: 560px;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    z-index: 3;
    margin: 0 auto;
    margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        width: 288px;
        line-height: 35px;
        font-size: 32px;
        margin-bottom: 16px;
    }
   }